[includeIf "gitdir:D:/repos/ons/"]
  	path = gitlab.inc

[includeIf "gitdir:D:/repos/ext/"]
  	path = github.inc

[core]
	pager = cat  # This stops me getting trapped in vim, which crashes on Anaconda prompt when using git diff and others

[alias]
	st = status
	co = checkout
	ci = commit
	br = branch
	pushup = "!git push --set-upstream origin $(git symbolic-ref --short HEAD)"  # Shortcut to push new branches to remote equivalent
